#about-nav-link {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.about-banner {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
  color: aliceblue;
  text-align: center;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.about-banner h1 {
  font-size: 46px;
  margin-bottom: 6px;
}
.about-banner p {
  margin: 0px 48px;
}
.banner-text {
  padding: 180px;
}
.about-info-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about-info {
  background-color: #032f38;
  display: flex;
  gap: 20px;
  color: aliceblue;
  border-radius: 10px;
  padding: 50px 20px;
}
.about-info h3 {
  font-family: "Montserrat", sans-serif;
}
.about-info p {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
}
.about-info img {
  height: 320px;
  border-radius: 10px;
  transition: transform 1s ease-in-out;
}
.about-info img:hover{
  transform: scale(1.05);
}
