#contact-nav-link {
  text-decoration: underline;
  text-underline-offset: 5px;
}
body {
  background-image: url(../images/tiles-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 0;
}
/*FORM*/
form input[type="text"],
select,
textarea {
  width: 100%;
  padding: 16px;
  border: 1px solid #0b505e;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

form input[type="submit"] {
  background-color: #0b505e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  border: 2px solid;
  border-radius: 10px;
  font-weight: 500;
}

input[type="submit"]:hover {
  background-color: aliceblue;
  color: #0b505e;
  transition: 0.5s;
}
.form-section h1 {
  text-align: center;
}
.form-section {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  color: #0b505e;
  text-align: center;
  background-color: rgb(244, 246, 248);
  max-width: 600px;
  padding: 22px;
  box-sizing: border-box;
  border-style: double;

  border-width: 5px;
  border-radius: 10px;
  margin: 5px;
  display: block;
  margin: 120px;
}
.form-rows {
  display: flex;
  gap: 12px;
}
form label {
  text-align: left;
  display: block;
  margin-right: 150px;
}
