#gallery-nav-link {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.gallery-banner {
  background-image: url(../images/galleryBanner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
  color: aliceblue;
  text-align: center;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.gallery-banner h1 {
  font-size: 64px;
  margin-bottom: 6px;
}
.gallery-banner p {
  margin: 0px 48px;
}
.gallery-banner-text {
  padding: 180px;
}

.gallery img {
  width: 100%;
}

.gallery {
  margin-top: 20px;
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  padding: 5px;
}

.column img {
  cursor: pointer;
  border-radius: 10px 10px 0px 0px;
}

.gallery-card {
  background-color: #032f38;
  border-radius: 10px;
  color: aliceblue;
  margin-bottom: 10px;
  transition: transform 1s ease-in-out;
}
.gallery-card:hover {
  transform: scale(1.1);
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 1);
}
.gallery-info {
  text-align: center;
  padding: 10px;
}
.gallery-info h4 {
  margin: 0px;
}
